@import './variable.scss';

.btn {
  height: 48px;
  padding: 5px 49px 0;
  color: $white;
  box-sizing: border-box;
  border: 1px solid $white;
  border-radius: 25px;
  background-color: transparent;
  transition: $duration;

  &:disabled {
    color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  &.active {
    color: #000;
    background-color: $white;
  }
}
