@import './variable.scss';

.btn {
  height: 48px;
  padding: 0 49px;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-bottom: 16px;
  background-color: transparent;
}