@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/HelveticaNeue-Medium.ttf);
}
