@import '~normalize.css/normalize';

@import './fonts';
@import './reset';
@import './variable';
@import './typography';
@import './button';

@import './pages/login';

.flex {
  display: flex;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
}
