@import './variable';

html {
  font-size: 100%;
  font-family: $accent-font;
  font-weight: normal;
}

p, a, button {
  margin: 0;
}

p, a {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.35px;
}

a, button {
 transition: $duration;
}

a {
  color: $white;
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  margin: 0;
  font-weight: 500;
}
