// colors
$white: #fff;
$black: #000;
$red: #B40000;

// display break points
$phone: 320px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1600px;

// typography fonts
$accent-font: 'HelveticaNeue', sans-serif;

// animation
$duration: 0.4s;
