// colors
$white: #fff;

// display break points
$phone: 320px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1600px;

// typography fonts
$accent-font: 'Lato', sans-serif;
$secondary-font: 'Mali', serif;

// animation
$duration: 0.4s;