@import '../variable.scss';


.Form-checkbox {
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }

  &__checkbox + &__label {
    position: relative;
    cursor: pointer;
    display: flex;
    height: 24px;
    padding: 0 0 0 52px;
    align-items: center;
    user-select: none;
    color: $white;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 44px;
      height: 24px;
      border-radius: 13px;
      background: transparent;
      transition: .2s;
      border: 1px solid $white;
      box-sizing: border-box;
      padding: 4px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 22px;
      height: 16px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.3);
      transition: $duration;
    }
  }

  &__checkbox:checked + &__label {
    &:after {
      left: 18px;
      background-color: $white;
    }
  }
}
