@import '../variable.scss';
@import '../fonts.scss';

.Form-input {
  width: 100%;
  box-sizing: border-box;

  &__row {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    &__label {
      position: absolute;
      width: 100%;
      color: rgba(255, 255, 255, 0.4);
      text-align: center;
      left: 0;
      top: 14px;
      font-size: 18px;
      line-height: 21px;
    }

    &__input {
      width: 100%;
      height: 46px;
      background-color: rgba(255, 255, 255, 0);
      padding: 0 20px;
      box-sizing: border-box;
      z-index: 1;
      position: relative;
      text-align: center;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 1px;
    }
  }

  &__icons {
    &__icon {
      position: absolute;
      font-style: normal;
      opacity: 0;
      z-index: 10;

      &--invalid {
        width: 32px;
        height: 32px;
        right: 10px;
        top: 8px;
        background: #B40000;
        border-radius: 50%;
        text-align: center;
        padding-top: 9px;
        box-sizing: border-box;
        font-weight: 500;
        color: #fff;
      }

      &--valid {
        width: 18px;
        height: 17px;
        right: 23px;
        top: 14px;
        background-image: url(../img/valid.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
      }
    }
  }
}
