<div class="Form-input" data-name="workPosition">
  <div class="Form-input__row">
    <label class="Form-input__row__label">{{ placeholder }}</label>
    <input class="Form-input__row__input" type="{{ type }}" />
  </div>
</div>