<div class="LoginForm__field" data-name="workPosition">
  <div class="LoginForm__field__row">
    <label class="LoginForm__field__row__label">Номер телефона</label>
    <input class="LoginForm__field__row__input" type="text" />
  </div>
</div>