<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="./style/style.css">
</head>
<body>
  <section class="LoginForm">
    <div class="LoginForm__main flex">
      <div class="container">
        <div class="row">
          <div class="LoginForm__wrapper">
            <div class="LoginForm__bg"></div>
            <div class="LoginForm__inner">
              <div class="LoginForm__headline flex">
                <img src="./img/back-arrow.png" alt="" class="LoginForm__headline__back-icon">
                <p class="LoginForm__headline__text">вернуться</p>
              </div>
              <form action="" class="LoginForm__form">
                <div class="LoginForm__logo">
                  <img src="./img/rabbit.png" alt="" class="LoginForm__logo__img img-responsive">
                </div>
                <div class="LoginForm__input" data-name="phone">
                  {{> input type="text" placeholder="8 (XXX) XXX-XX-XX" icons="true"}}
                  {{!-- <div class="phone-mask">
                    <i>Номер телефона</i>
                    <i>8 (XXX) XXX-XX-XX</i>
                  </div> --}}
                </div>
                <div class="LoginForm__input" data-name="password">
                  {{> input type="password" placeholder="Пароль"}}
                </div>
                <div class="LoginForm__final-line flex">
                  {{> checkbox text="Запомнить"}}
                  <a href="" class="LoginForm__final-line__link">Забыли пароль</a>
                </div>
                <div class="LoginForm__btn">
                  {{> button text="ВОЙТИ" isDisabled="true"}}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="./js/bundle.js"></script>
</body>
</html>