html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Ubuntu, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

input, textarea {
  font-family: Ubuntu, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input, textarea {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

button:hover, button:focus, button:active {
  outline: none;
}

input:focus, input:hover, input:active {
  outline: none
}

img {
  vertical-align: bottom;
}

.flex {
  display: flex;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
}

.LoginForm {
  background-image: url(./img/form-login__bg.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: 50% 50%;
  position: relative;
}

.LoginForm:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.LoginForm__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.LoginForm__wrapper {
  position: relative;
  overflow: hidden;
  height: 368px;
  mix-blend-mode: normal;
  border-radius: 4px;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.5);
  max-width: 626px;
  margin: 0 auto;
  width: 100%;
}

.LoginForm__bg {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(./img/form-login__bg.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: 50% 50%;
  display: block;
  filter: blur(4px);
}

.LoginForm__inner {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  box-sizing: border-box;
}

.LoginForm__logo {
  display: table;
  margin: 0 auto 50px;
  width: 60px;
  height: 60px;
}

.LoginForm__field {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.LoginForm__field__row {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.LoginForm__field__row__label {
  position: absolute;
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  left: 0;
  top: 15px;
}

.LoginForm__field__row__input {
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.LoginForm__headline {
  align-items: center;
  margin-bottom: 40px;
}

.LoginForm__headline__back-icon {
  height: 10px;
}

.LoginForm__headline__text {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 8px;
}